<div class="contents">
  <%= image_tag '/assets/eye-catch_medium.jpg', class: 'img-fluid' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p class="user_title"><i class="fas fa-user"></i>会員登録はお済みですか？</p>
      <div class="user_btn">
        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path do %>
            <button type="button" class="btn btn-outline-dark user_btn__left">マイページ</button>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-outline-dark user_btn__left"><i class="fas fa-user-plus"></i>ログイン</button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-sign-in-alt"></i>新規登録</button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-9">
      <h2><i class="fas fa-sign-in-alt"></i>Any Coordinator 新規登録フォーム</h2>
      <div class="regist_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
          <div class="regist_form__input">
            <p>● 氏名</p>
            <div class="regist_form__input__input-name">
              <%= form.text_field :family_name, class: "form-control regist_form__input__input-name--half", placeholder: "氏名（姓）", autocomplete: "family-name" %>
              <%= form.text_field :given_name, class: "form-control regist_form__input__input-name--half", placeholder: "氏名（名）", autocomplete: "given-name" %>
            </div>
          </div>
          <div class="regist_form__input">
            <p>● メールアドレス</p>
              <%= form.email_field :email, class: "form-control", placeholder: "メールアドレス", autocomplete: "email" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


















<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
