<div class="contents">
  <%= image_tag '/top-image_medium.jpg', class: 'img-fluid' %>

  <div class="login_form">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <i class="fas fa-envelope"></i>
        <%= f.label :email, "E-Mail：" %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <i class="fas fa-key"></i>
        <%= f.label :password, "パスワード：" %>
        <%= f.password_field :password %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "error_message" %>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>