<div class="eye_catch">
  <img src="/top-image_medium.jpg" alt="Any Coordinator メイン画像">
</div>

<div class="side_bar">
  <% if user_signed_in? %>
    <div class="side_bar__user">
      <p>
        <%= current_user.name %> さん<br>
        <div class="mypage_btn">
          <%= link_to "#" do %>
            マイページ
          <% end %>
        </div>
        <div class="mypage_btn">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </div>
      </p>
    </div>
  <% else %>
  <% end %>
</div>

<div class="content">
  <div class="coodinate_box">
    <%= link_to "#" do %>
      <div class="coordinator margin_right">
        <img src="/coordinator/gu_100034040-mosaic.jpg" alt="販売員 #01">
        <p>
          氏名：中山 香織<br>
          <span class="tall">（153cm）</span>
        </p>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="nominate">
        <p>予約</p>
      </div>
    <% end %>
  </div>

  <div class="coodinate_box">
    <%= link_to "#" do %>
      <div class="coordinator margin_right">
        <img src="/coordinator/gu_100031164-mosaic.jpg" alt="販売員 #02">
        <p>
          氏名：野間 沙樹<br>
          <span class="tall">（148cm）</span>
        </p>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="nominate">
        <p>予約</p>
      </div>
    <% end %>
  </div>

  <div class="coodinate_box">
    <%= link_to "#" do %>
      <div class="coordinator">
        <img src="/coordinator/gu_100029979-mosaic.jpg" alt="販売員 #03">
        <p>
          氏名：古谷 由佳利<br>
          <span class="tall">（162cm）</span>
        </p>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="nominate_right">
        <p>予約</p>
      </div>
    <% end %>
  </div>
</div>