<!DOCTYPE html>
<html>
  <head>
    <title>Any Coordinator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bf6ee95d94.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="title">
        <%= link_to root_path do %>
          <h1>Any Coordinator</h1>
        <% end %>
      </div>

      <!-- ヘッダー部分（右側）の新規登録・ログインボタン -->
      <% if user_signed_in? %>
        <div class="sign_in-out">
          <%= link_to root_path do %>
            <div class="sign_in-out__btn">
              <%= current_user.name %>
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="sign_in-out__btn">
              <i class="fas fa-sign-out-alt"></i>ログアウト
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="sign_in-out">
          <%= link_to new_user_session_path do %>
            <div class="sign_in-out__btn">
              <i class="fas fa-user-plus"></i>ログイン
            </div>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="sign_in-out__btn">
              <i class="fas fa-sign-in-alt"></i>新規登録
            </div>
          <% end %>
        </div>
      <% end %>
    </header>
    <!-- メインメニュー -->
    <div class="menu">
      <%= link_to root_path, class: "menu__coodinate" do %>
        <p>
          <i class="fas fa-male"></i>Men
        </p>
      <% end %>
      <%= link_to root_path, class: "menu__coodinate" do %>
        <p>
          <i class="fas fa-female"></i>Women
        </p>
      <% end %>
      <%= link_to root_path, class: "menu__coodinate" do %>
        <p>
          <i class="fas fa-child"></i>Kids
        </p>
      <% end %>
      <%= link_to root_path, class: "menu__guide" do %>
        <p>
          About
        </p>
      <% end %>
      <%= link_to root_path, class: "menu__guide" do %>
        <p>
          <i class="fas fa-paper-plane"></i>Contact
        </p>
      <% end %>

      <div class="menu__title">
        <p>Coordinate</p>
      </div>
    </div>

    <%= yield %>
  </body>
</html>